[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jet = "*"
django-allauth = "*"
django-hijack = "*"
django-hijack-admin = "*"
django-debug-toolbar = "*"
django-axes = "*"
django-compressor = "*"
django-admin-honeypot = "*"
python-decouple = "*"
django-ipware = "*"
django-mail-admin = "*"
django-private-chat = "*"

[dev-packages]

[requires]
python_version = "3.6"
